node_modules/
dist/
node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
lerna-debug.log
yarn.lock
google-generated-credentials.json
.idea
nodelinter.config.json
packages/*/package-lock.json
.github
# files containing secrets
secrets.env
secret.env
*/ansible/local/.env
.env
.env2
